body {
  font-family: 'Roboto', sans-serif;
  background-color: #efefef;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  margin: 0;
}

header p {
  font-size: 1rem;
  color: #555;
}

main {
  background-color: #ffffff;
  padding: 20px 40px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-section {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
}

textarea {
  resize: none;
  height: 150px;
}

input[type="file"] {
  padding: 5px;
  background-color: #eee;
  color: #000;
  max-width: 300px;
  min-width: 300px;
}

button {
  background-color: #000;
  color: #eee;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

button:hover {
  background-color: #4c4c4c;
}

.button-group {
  text-align: center;
}

.output-section {
  margin-top: 20px;
}

textarea[readonly] {
  background-color: #f9f9f9;
  color: #000;
  border: 1px solid #ccc;
}

.pesanresult {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.pesanresult .form-section,
.pesanresult .output-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

textarea, input[type="file"] {
  flex-grow: 1;
}

.dropdown-container {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
}

.dropdown-container .form-section {
  flex: 0 0 auto;
  margin: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 200px;
  color: #fff;
  background: #000000 url('data:image/svg+xml;utf8,<svg fill="white" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center/16px 16px;
  padding-right: 10px;
}

.sec-btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

.sec-btn:hover {
  background-color: #f0f0f0;
}